@charset "UTF-8";
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: .5em; }

h1, .h1 {
  font-size: calc(1.25rem + ((1vw - 4.8px) * 0.9722)); }

h2, .h2 {
  font-size: calc(1.1875rem + ((1vw - 4.8px) * 0.9028)); }

h3, .h3 {
  font-size: calc(1.125rem + ((1vw - 4.8px) * 0.8333)); }

h4, .h4 {
  font-size: calc(1.0625rem + ((1vw - 4.8px) * 0.6944)); }

h5, .h5 {
  font-size: calc(1rem + ((1vw - 4.8px) * 0.5556)); }

h6, .h6 {
  font-size: calc(1rem + ((1vw - 4.8px) * 0.1389)); }

.hero-lead {
  font-size: calc(1rem + ((1vw - 4.8px) * 0.7639));
  line-height: 1.78;
  font-weight: 200; }

.lead {
  font-size: calc(1rem + ((1vw - 4.8px) * 0.2778));
  font-weight: 300;
  line-height: 2em; }

.display-1,
.display-2 {
  line-height: 1.2;
  font-weight: bold; }

.display-1 {
  font-size: calc(1.375rem + ((1vw - 4.8px) * 3.6111));
  font-weight: 900; }

.display-2 {
  font-size: calc(1.625rem + ((1vw - 4.8px) * 1.9444));
  font-weight: 900;
  margin-top: .2em; }

.display-3 {
  font-size: calc(1.125rem + ((1vw - 4.8px) * 1.1111));
  font-weight: 900;
  margin-top: .2em; }

.subtitle {
  margin-top: -.5em; }
  @media (max-width: calc(600px - 1px)) {
    .subtitle {
      font-size: 18px; } }
  .subtitle.dark {
    color: #172B63; }

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 0;
  border-top: 1px solid rgba(23, 43, 99, 0.1); }

small,
.small {
  font-size: 80%;
  font-weight: 400; }

mark,
.mark {
  padding: 0.2em;
  background-color: #fcf8e3; }

.list-unstyled {
  padding-left: 0;
  list-style: none; }

.list-inline {
  padding-left: 0;
  list-style: none; }

.list-inline-item {
  display: inline-block; }
  .list-inline-item:not(:last-child) {
    margin-right: 0.5rem; }

.link {
  color: #3781FF; }

.text-centered {
  text-align: center; }

.text-justify {
  text-align: justify; }

.sketch-underline, .hero-underline, .underline-1, .underline-2 {
  position: relative;
  white-space: nowrap; }
  .sketch-underline:before, .hero-underline:before, .underline-1:before, .underline-2:before {
    content: '';
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat; }

.hero-underline:before {
  bottom: -2.5rem;
  height: 3rem;
  left: -1em;
  right: 0;
  background-image: url("../../assets/img/hero-underline.svg"); }

@media (min-width: 900px) {
  .underline-1:before, .underline-2:before {
    bottom: -1.4rem;
    height: 9px;
    width: 84px;
    left: 50%;
    margin-left: -42px;
    background-image: url("../assets/img/underline.svg"); } }

.underline-2:before {
  background-image: url("../../assets/img/home/underline-2.svg"); }

ol {
  padding-left: 1em; }
  ol li {
    padding-left: .5em; }

ul {
  list-style-type: square; }
  ul li {
    padding-left: .5em;
    margin-bottom: .7em; }

.nowrap {
  white-space: nowrap; }

.strong {
  font-weight: 900; }

.section-breakpoints, .section, .section-back, .dark-section, .home-testimonial {
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 1200px) {
    .section-breakpoints, .section, .section-back, .dark-section, .home-testimonial {
      width: calc(100% - 6vw);
      max-width: 1200px; } }
  @media (max-width: calc(600px - 1px)) {
    .section-breakpoints, .section, .section-back, .dark-section, .home-testimonial {
      width: 100vw; } }

.section, .section-back, .dark-section, .home-testimonial {
  padding: 10vh 3vw;
  position: relative;
  box-sizing: border-box; }

.section--content {
  margin: auto;
  max-width: 60rem; }

.section-back, .dark-section {
  background-color: #F8F9FC; }
  @media (min-width: 1200px) {
    .section-back, .dark-section {
      border-radius: 7px; } }

.dark-section {
  color: white;
  background-color: #46A4FF;
  background-color: linear-gradient(60deg, #2C67FF 0%, #3781FF, #46A4FF 100%);
  position: relative; }
  .dark-section .subtitle {
    color: white; }
  .dark-section:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 1vh;
    left: 9vw;
    width: 374px;
    height: 374px;
    max-width: 90vw;
    background: url("../assets/img/dots-pattern.svg");
    background-repeat: no-repeat; }

.screenshot-shadow {
  position: relative; }
  @media (max-width: calc(900px - 1px)) {
    .screenshot-shadow {
      width: 100%;
      margin-top: calc(calc(5vh + (3.4 * (1vw - 2px))) / 2); }
      .screenshot-shadow:not(:nth-of-type(n+2)) {
        margin-bottom: calc(calc(5vh + (3.4 * (1vw - 2px))) / 2); } }
  .screenshot-shadow:before {
    content: "";
    position: absolute;
    z-index: 0;
    box-shadow: 0 0 50px rgba(23, 43, 99, 0.25);
    top: 50%;
    bottom: 0;
    left: 30px;
    right: 30px;
    border-radius: 100px / 10px; }
  .screenshot-shadow:after {
    content: '';
    z-index: 0;
    position: absolute;
    opacity: .3;
    bottom: -2.2rem;
    left: -2.2rem;
    width: 90%;
    height: 5rem;
    border-radius: 7px;
    background: repeating-linear-gradient(-45deg, #3781FF, #3781FF 2px, transparent 2px, transparent 11px); }

.screenshot-wrapper {
  position: relative;
  z-index: 1;
  background: #fff;
  border-radius: 7px;
  overflow: hidden; }
  .screenshot-wrapper.no-back {
    background: transparent; }
    .screenshot-wrapper.no-back:before {
      box-shadow: none; }
    .screenshot-wrapper.no-back .screenshot {
      border: 0; }

.screenshot {
  min-width: 500px;
  min-height: 200px;
  position: relative;
  z-index: 2;
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 7px; }
  @media (max-width: calc(600px - 1px)) {
    .screenshot {
      min-width: 100%; } }
  .screenshot:not(:last-of-type) {
    margin-bottom: 2rem; }

@media (min-width: 900px) {
  .home-testimonial {
    display: flex; } }

.testimonial {
  position: relative; }
  .testimonial:before {
    content: '“';
    font-size: calc(calc(1.375rem + ((1vw - 4.8px) * 3.6111)) * 1.6);
    color: #A0AABC;
    opacity: .2;
    font-style: italic;
    position: absolute;
    left: -.7rem;
    top: 4.5rem;
    line-height: 1;
    width: 2rem; }
  @media (min-width: 600px) {
    .testimonial {
      max-width: 700px;
      padding: 1.5rem 2rem; }
      .testimonial.testimonial--inactive {
        opacity: .5; } }
  @media (max-width: 599px) {
    .testimonial {
      margin: 2rem 1rem; } }

.pic-left--section,
.pic-right--section {
  display: flex;
  justify-content: space-between; }
  @media (max-width: calc(900px - 1px)) {
    .pic-left--section,
    .pic-right--section {
      flex-direction: column; } }
  @media (min-width: 900px) {
    .pic-left--section,
    .pic-right--section {
      align-items: center; } }

@media (min-width: 900px) {
  .pic-left--section {
    flex-direction: row-reverse;
    justify-content: flex-end; } }

@media (min-width: 900px) {
  .pic-left--section {
    flex-direction: row-reverse;
    justify-content: flex-end; } }

.pic-left--content,
.pic-right--content {
  width: 100%;
  max-width: 780px; }
  @media (min-width: 1200px) {
    .pic-left--content,
    .pic-right--content {
      flex-basis: 40vw; } }

@media (min-width: 900px) {
  .pic-left--content {
    margin-left: calc(3.2vw + .2rem); } }

@media (min-width: 900px) {
  .pic-right--content {
    margin-right: calc(3.2vw + .2rem); } }

@media (min-width: 1200px) {
  .pic-left--pic-container,
  .pic-right--pic-container {
    max-width: 750px;
    min-width: 500px;
    flex-basis: 40vw;
    display: flex;
    justify-content: center; } }

.image-section-dark:before {
  background-color: #F8F9FC !important; }

.image-section-white:before {
  background-color: white !important; }

@media (min-width: 600px) {
  .container--pic-first .screenshot {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; } }
@media (min-width: 600px) {
  .container--pic-first .screenshot {
    margin-right: calc(3.2vw + .2rem); } }
@media (max-width: 599px) {
  .container--pic-first {
    flex-direction: column; } }

@media (min-width: 600px) {
  .container--pic-last .screenshot {
    margin-left: 4vw; } }
@media (max-width: calc(900px - 1px)) {
  .container--pic-last .screenshot {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; } }
@media (max-width: 599px) {
  .container--pic-last {
    flex-direction: column-reverse; } }

.screenshot-integrations {
  position: relative;
  margin-bottom: -10vh; }
  @media (min-width: 900px) {
    .screenshot-integrations {
      margin-top: -10vh; }
      .screenshot-integrations:before {
        content: '';
        position: absolute;
        z-index: 0;
        top: -10vh;
        right: -3vw;
        width: 504px;
        height: 504px;
        background: url("../assets/img/dots-blue.svg");
        background-repeat: no-repeat;
        background-size: contain; } }
  @media (max-width: calc(900px - 1px)) {
    .screenshot-integrations {
      max-width: 400px;
      margin: auto; } }

.columns--content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  grid-column-gap: 3vw; }
  @media (max-width: calc(600px - 1px)) {
    .columns--content {
      grid-template-columns: inherit;
      grid-column-gap: inherit;
      grid-template-rows: auto; } }
  @media (min-width: 600px) {
    .columns--content .screenshot-wrapper {
      height: 350px; }
      .columns--content .screenshot-wrapper .screenshot {
        max-height: 100%;
        margin: auto;
        min-width: inherit; } }

/*# sourceMappingURL=styles2.css.map */
